<div class="container-fluid">
  <br />
  <div>
    <h1>Paso 1. Cargue su archivo de Excel:</h1>
  </div>
  <div class="col-5">
    <div class="mb-3">
      <label for="formFile" class="form-label">Seleccione archivo</label>
      <input
        class="form-control"
        type="file"
        (change)="onFileChange($event)"
        accept=".xlsx, .xls"
      />
    </div>
  </div>

  <div>
    <h1>Paso 2. Genere su carnet frontal:</h1>
  </div>
  <button class="btn btn-primary" (click)="generatePDF()" [disabled]="!archivoCargado">
    Generar Frontal
  </button>

  <hr />
  <br />

  <div>
    <h1>Paso 3. Genere su carnet reverso:</h1>
  </div>

  <!-- 👇 Solo se muestra cuando hay archivo cargado -->
  <app-reverso [pensionados]="pensionados" *ngIf="archivoCargado"></app-reverso>

  <router-outlet></router-outlet>
</div>
